parameters:
    level: 0
    paths:
        - ../helpers
        - ../src
        - ../tests
    bootstrapFiles:
        - constants.php
        - classes/App/Controller/Base.php
    scanFiles:
        - ../vendor/nails/common/src/Common/CodeIgniter/Core/Common.php
        - ../vendor/pocketarc/codeigniter/system/database/drivers/mysqli/mysqli_result.php
    scanDirectories:
        - ../vendor/pocketarc/codeigniter/system/core
        - ../vendor/pocketarc/codeigniter/system/helpers
        - ../vendor/nails/common/helpers
        - ../vendor/nails/module-cdn/helpers
